<div class="container">
  <div class="row">
      <div class="col-md-8">
          <h2>Form Edit Data</h2>

          <% if (typeof errors != 'undefined') { %>
            <div class="alert alert-danger" role="alert">
              <ul>
                <% errors.forEach(e => { %>
                 
                  <li><%= e.msg %> </li>
                <% }) %>
              </ul>
            </div>
          <% } %>

          <form method="post" action="/mahasiswa?_method=PUT" method="POST" >
            <input type="hidden"  value="<%=edit._id%>" name="_id">
            <input type="hidden"  value="<%=edit.nama%>" name="oldNama">
              <div class="mb-3">
                <label for="Nama" class="form-label">Nama Lengkap</label>
                <input type="text" class="form-control" id="nama" value="<%= edit.nama %>" name="nama" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" value="<%= edit.email %>" name="email" required>
              </div>
              <div class="mb-3">
                <label for="nomor" class="form-label">Nomor Whatsapp</label>
                <input type="text" class="form-control" id="nomor" value="<%= edit.nomor %>" name="nomor" required>
              </div>

              <button type="submit" class="btn btn-primary">Simpan</button>
            </form>
      </div>
  </div>
</div>
